.experiences {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 100%;

  .experiences_container {
    display: flex;
    position: relative;
    background-color: white;
    width: 65%;
    height: 592px;
    margin-right: 10%;
    border-radius: 112px;
    box-shadow: 1px 1px 35px 5px rgba(118, 122, 122, 0.19);
    align-items: center;
    justify-content: center;

    .experiences_text {
      width: 60%;
      text-align: center;
      line-break: auto;
      white-space: pre-line;
      line-height: 40px;

      .skills_display_animation {
        transition: 1s ease;
      }

      .skills_display {
        display: flex;
        width: 60%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: auto;
      }

      .arrow_up {
        position: absolute;
        top: 0;
        transition: 0.5s;
        transform: translate(-50%, 0%);

        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }

      .arrow_down {
        position: absolute;
        bottom: 0;
        transition: 0.5s;
        transform: translate(-50%, 0%);
        // margin-right: 50px;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .experiences {
    .experiences_container {
      width: 70%;
      .experiences_text {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .experiences {
    .experiences_container {
      width: 75%;
      .experiences_text {
        line-height: 35px;
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .experiences {
    .experiences_container {
      height: 650px;
      .experiences_text {
        line-height: 35px;
        width: 80%;

        .skills_display {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .experiences {
    .experiences_container {
      .experiences_text {
        line-height: 30px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .experiences {
    .experiences_container {
      margin-right: 0;

      // .arrow_up {
      //   position: absolute;
      //   margin-right: -50px;

      // }

      // .arrow_down {
      //   position: absolute;
      //   margin-right: 50px;

      // }
    }
  }
}
