.home {
  display: flex;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
  flex-direction: row;

  .profile_img {
    margin-left: 10%;

    img {
      width: 412px !important;
      height: 499px !important;
      border-radius: 61px;
    }
  }

  .main_text {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;

    h2 {
      font-size: 40px;
    }
    h3 {
      font-size: 30px;
    }

    .cv_button {
      display: grid;
      grid-template-columns: 60% 40%;
      margin-top: 10%;
      width: 150px;
      height: 60px;
      border-radius: 15px;
      border: none;
      background-color: #f0e0a8;
      transition: 0.5s;

      &:hover {
        background-color: #d7c585;
      }

      .cv_button_text {
        font-size: 20px;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15%;
      }

      .cv_button_logo {
        margin-top: auto;

        margin-bottom: auto;
        margin-left: 30%;
      }
    }
  }
}

//Responsive
@media screen and (max-width: 1550px) {
  .home {
    .profile_img {
      margin-left: 5%;
    }

    .main_text {
      margin-left: 5%;
    }
  }
}

@media screen and (max-width: 1300px) {
  .home {
    .profile_img {
      margin-left: 5%;

      img {
        width: 300px !important;
        height: 350px !important;
      }
    }

    .main_text {
      margin-left: 5%;

      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 25px;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .home {
    .profile_img {
      img {
        width: 250px !important;
        height: 300px !important;
      }
    }

    .main_text {
      h2 {
        font-size: 32px;
      }
      h3 {
        font-size: 22px;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .home {
  }
}

@media screen and (max-width: 950px) {
  .home {
    .profile_img {
      margin-left: 3%;
    }

    .main_text {
      margin-left: 3%;

      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .home {
    .profile_img {
      img {
        width: 200px !important;
        height: 250px !important;
      }
    }

    .main_text {
      margin-left: 1%;

      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .home {
    .main_text {
      margin-left: 5%;
      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 15px;
      }
    }
  }
}
