.navbar {
  position: absolute;
  display: flex;
  transition: 0.5s;
  width: 92px;
  height: 361px;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);

  margin-right: 5%;
  border-radius: 25px;
  box-shadow: 1px 1px 35px 5px rgba(118, 122, 122, 0.19);

  &:hover {
    box-shadow: 1px 1px 35px 5px rgba(0, 0, 0, 0.19);
  }

  .navbar_logo_list {
    height: 100%;
    display: grid;
    margin: auto;
    grid-template-rows: 33% 33% 33%;

    .logo_nav {
      margin: auto;
      transition: 0.5s;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }
  }
}

//Responsive
@media screen and (max-width: 1550px) {
  .navbar {
    margin-right: 2%;
  }
}
